body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f06, #f4f4f4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.winner-container {
    background: white;
    color: #333;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 15px;
}

.winner-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.winner-message {
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.result-container {
    display: none;
    margin-top: 20px;
}

.result-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.winner-result {
    background: white;
    color: #333;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.winner-result-logo {
    width: 50px;
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 15px;
}

.winner-result-name {
    flex: 1;
    font-size: 18px;
}

.winner-result-rank {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
